In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Dataset

In [3]:
data = pd.read_csv('train_bm.csv')

In [4]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
data.shape

(8523, 12)

In [9]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# Shuffle and Creating Train and Test Set

In [10]:
from sklearn.utils import shuffle

In [21]:
# shuffle 
data=shuffle(data, random_state = 42)

# divide the datasets into test and train
div= int(data.shape[0]/4)
train = data.loc[:3*div+1,:]
test = data.loc[:3*div+1:]
test.shape

(5139, 12)

In [22]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
833,DRD60,NaN,Low Fat,0.065189,Soft Drinks,181.1634,OUT019,1985,Small,Tier 1,Grocery Store,181.7634
5497,NCW41,18.000,Low Fat,0.015447,Health and Hygiene,159.2604,OUT035,2004,Small,Tier 2,Supermarket Type1,3961.5100
6194,FDR04,7.075,Low Fat,0.022695,Frozen Foods,98.8068,OUT017,2007,NaN,Tier 2,Supermarket Type1,2527.3768
7717,NCC30,16.600,Low Fat,0.027574,Household,176.6344,OUT035,2004,Small,Tier 2,Supermarket Type1,2676.5160
197,NCN55,14.600,Low Fat,0.059583,Others,238.8538,OUT049,1999,Medium,Tier 1,Supermarket Type1,6008.8450

In [30]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,simple_mean
833,DRD60,NaN,Low Fat,0.065189,Soft Drinks,181.1634,OUT019,1985,Small,Tier 1,Grocery Store,181.7634,2157.415229
5497,NCW41,18.000,Low Fat,0.015447,Health and Hygiene,159.2604,OUT035,2004,Small,Tier 2,Supermarket Type1,3961.5100,2157.415229
6194,FDR04,7.075,Low Fat,0.022695,Frozen Foods,98.8068,OUT017,2007,NaN,Tier 2,Supermarket Type1,2527.3768,2157.415229
7717,NCC30,16.600,Low Fat,0.027574,Household,176.6344,OUT035,2004,Small,Tier 2,Supermarket Type1,2676.5160,2157.415229
197,NCN55,14.600,Low Fat,0.059583,Others,238.8538,OUT049,1999,Medium,Tier 1,Supermarket Type1,6008.8450,2157.415229

# Simple Mean (Mean of Item_Outlet_Sales)

In [29]:
test['simple_mean'] = train['Item_Outlet_Sales'].mean()

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
from sklearn.metrics import mean_absolute_error as MAE
simple_mean_error = MAE(test['Item_Outlet_Sales'], test['simple_mean'])
simple_mean_error

1338.6509811459239

# Mean Item Outlet Sales with respect to Outlet_Type

In [36]:
out_type = pd.pivot_table(train, values='Item_Outlet_Sales', index=['Outlet_Type'], aggfunc=np.mean)
out_type

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             340.391029
Supermarket Type1        2301.852768
Supermarket Type2        1970.543292
Supermarket Type3        3628.681876

In [40]:
test['Out_type_mean']=0

for i in train['Outlet_Type'].unique():
    # Assign the mean value corresponding to unique entry
    test['Out_type_mean'][test['Outlet_Type'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Type'] == str(i)].mean()

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/pandas/core/generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [41]:
from sklearn.metrics import mean_absolute_error as MAE
simple_mean_error = MAE(test['Item_Outlet_Sales'], test['simple_mean'])
simple_mean_error

1338.6509811459239