# Classification Benchmark

## Importing Libraries

In [7]:
#importing libraries 
import pandas as pd 
import numpy as np
from sklearn.metrics import accuracy_score

## Importing Dataset

In [8]:
data=pd.read_csv('train.csv')
data.shape

(891, 12)

In [9]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Shuffling and Creating Train and Test Set

In [11]:
from sklearn.utils import shuffle

# Shuffling the Dataset
data = shuffle(data, random_state = 42)

#creating 4 divisions
div = int(data.shape[0]/4)

# 3 parts to train set and 1 part to test set
train = data.loc[:3*div+1,:]
test = data.loc[3*div+1:]

train.shape, test.shape

((621, 12), (271, 12))

In [12]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.0,0,1,248727,33.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C

In [13]:
test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.9250,NaN,S
714,715,0,2,"Greenberg, Mr. Samuel",male,52.0,0,0,250647,13.0000,NaN,S
262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S

## Simple Mode

In [15]:
#train['Survived'].value_counts()
test['simple_mode1']=train['Survived'].mode()[0]
test['simple_mode1'].head()

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

667    0
571    0
636    0
714    0
262    0
Name: simple_mode1, dtype: int64

In [16]:
test['simple_mode'] = train['Survived'].mode()[0]

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
test['simple_mode'].head()

667    0
571    0
636    0
714    0
262    0
Name: simple_mode, dtype: int64

In [19]:
Simple_mode_accur = accuracy_score(test['Survived'], test['simple_mode1']) 
Simple_mode_accur

0.6346863468634686

In [20]:
ct=pd.crosstab(test['Survived'], test['simple_mode1'])
ct

simple_mode1    0
Survived
0             172
1              99

In [10]:
simple_mode_accuracy = accuracy_score(test['Survived'], test['simple_mode'])
simple_mode_accuracy

0.6346863468634686

## Mode Based on Gender

In [11]:
gender_mode = pd.crosstab(train['Survived'],train['Sex'])
gender_mode

Sex       female  male
Survived
0             57   321
1            167    76

In [12]:
test['gender_mode'] = test['Survived']

# for every unique value in column
for i in test['Sex'].unique():
  # Calculate and Assign mode to new column, corresponding to unique values in "Sex"
  test['gender_mode'][test['Sex'] == str(i)] = train['Survived'][train['Sex'] == str(i)].mode()[0]

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/pandas/core/generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [13]:
gender_accuracy = accuracy_score(test['Survived'], test['gender_mode'])
gender_accuracy

0.7896678966789668

In [26]:
age_mode = pd.crosstab(train['Survived'],train['Age'])
age_mode

Age,0.75,0.83,0.92,1.00,2.00,3.00,4.00,5.00,6.00,7.00,...,61.00,62.00,63.00,64.00,65.00,66.00,70.00,70.50,71.00,80.00
Survived,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,3,1,2,0,1,2,...,2,0,0,1,3,1,1,1,2,0
1,2,1,1,3,3,4,7,2,1,1,...,0,2,2,0,0,0,0,0,0,1

In [30]:
test['age_mode'] = test['Survived']

# for every unique value in column
for i in test['Age'].unique():
  # Calculate and Assign mode to new column, corresponding to unique values in "Age"
  test['age_mode'][test['Age'] == str(i)] = train['Survived'][train['Age'] == str(i)].mode()

/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laxmikumar/miniconda3/envs/av/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
gender_accuracy = accuracy_score(test['Survived'], test['age_mode'])
gender_accuracy

1.0

In [32]:
gender_accuracy = accuracy_score(test['Survived'], test['gender_mode'])
gender_accuracy

0.7896678966789668